@model PhoneBook.Web.ViewModels.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginSignup.cshtml";
}
<div class="pbFormTitle">Forgot password? Enter your details we will send you reset link.    </div>
@using (@Html.BeginForm("ForgotPassword", "Login"))
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
                @Html.LabelFor(m => m.UserName, new { @class = "frmLabel" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(m => m.UserName, new { @class = "frmTextBox" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Email, new { @class = "frmLabel" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(m => m.Email, new { @class = "frmTextBox" })
            </td>
        </tr>
        <tr>
            <td>
                Prove that you are not a robot.
            </td>
        </tr>
        <tr>
            <td>
                2 + 2 = ?
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBox("Captcha")
            </td>
        </tr>

        <tr>
            <td><input type="submit" value="Reset Password" /></td>
        </tr>

    </table>
}