@model PhoneBook.Web.ViewModels.ContactViewModel

@using (@Html.BeginForm("CreateNewContact", "Home", FormMethod.Post, new { @id = "createContact" }))
{
    <div class="pbTable" style="margin-top: 10px;">
        <div class="pbTableRow">
            <div class="pbTableCell">
                @Html.LabelFor(m => m.FirstName)
            </div>
            <div class="pbTableCell">
                <p>@Html.ValidationMessageFor(m => m.FirstName)</p>
                @Html.EditorFor(m => m.FirstName)
            </div>
        </div>
        <div class="pbTableRow">
            <div class="pbTableCell">
                @Html.LabelFor(m => m.MiddleName)
            </div>
            <div class="pbTableCell">

                @Html.EditorFor(m => m.MiddleName)
            </div>
        </div>
        <div class="pbTableRow">
            <div class="pbTableCell">
                @Html.LabelFor(m => m.LastName)
            </div> <div class="pbTableCell">
                <p>@Html.ValidationMessageFor(m => m.LastName)</p>
                @Html.EditorFor(m => m.LastName)
            </div>
        </div>
        <div class="pbTableRow">
            <div class="pbTableCell">
                @Html.LabelFor(m => m.HomePhone)
            </div> <div class="pbTableCell">
                @Html.EditorFor(m => m.HomePhone)
            </div>
        </div>
        <div class="pbTableRow">
            <div class="pbTableCell">
                @Html.LabelFor(m => m.MobilePhone)
            </div> <div class="pbTableCell">
                @Html.EditorFor(m => m.MobilePhone)
            </div>
        </div>
        <div class="pbTableRow">
            <div class="pbTableCell">
                @Html.LabelFor(m => m.Address)
            </div>
            <div class="pbTableCell">
                <p>@Html.ValidationMessageFor(m => m.Address)</p>
                @Html.EditorFor(m => m.Address)
            </div>
        </div>
        <div class="pbTableRow">
            <div class="pbTableCell"></div>
            <div class="pbTableCell">
                <input type="submit" id="btnCreateContact" value="CreateContact" />
            </div>
        </div>
    </div>
}
